services:
  postgres:
    image: postgres:16
    container_name: looplingo-postgres
    env_file: ./server/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  server:
    build: ./server
    container_name: looplingo-server
    env_file: ./server/.env
    depends_on:
      - postgres
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    container_name: looplingo-nginx
    ports:
      - "80:80"
    volumes:
      - ./server/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server

volumes:
  pgdata:
